<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
    <nav class="site-nav">
      <a class="page-link" href="/">Home</a>
      <a class="page-link" href="/leistungen/">Leistungen</a>
      <a class="page-link" href="/projekte/">Referenzprojekte</a>
      <a class="page-link" href="/ueber-uns/">Über uns</a>
      <a class="page-link" href="/blog/">Blog</a>
      <a class="page-link" href="/faq/">FAQ</a>
      <a class="page-link button" href="/kontakt/">Kontakt</a>
    </nav>
  </div>
</header>